html, body {
    height: 100%;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}


header {
    background-color: #FFE4E1;
    height: 200px;
}


h1 {
    font-family: Helvetica;
    text-align: center;
    color: #804C6B;
    padding: 50px;
}


form {
    padding: 100px;
    text-align: left;
}


.content {
    flex-grow: 1;  
}

footer {
    background-color: #804C6B;
    height: 100px;
    width: 100%;
}